<h1> Gradebook Page</h1>

<button appCaptureEvent [data]="getGradebookButtonData()" (click)="onClickHandler($event)">SHOW GRADEBOOK</button>

<button appCaptureEvent [data]="getGradebookButtonData()" (click)="onClickHandler($event)">VIEW SPECIFIC STUDENT RESULT</button>

<button appCaptureEvent [data]="getGradebookButtonData()" (click)="onClickHandler($event)">VIEW SPECIFIC STUDENT RESULT</button>