<h1> Roster Page</h1>

<button appCaptureEvent [data]="getRosterButtonData()" (click)="onClickHandler($event)">SHOW ROSTER</button>

<button appCaptureEvent [data]="getRosterButtonData()" (click)="onClickHandler($event)">INVITE CO-INSTRUCTOR</button>