<h1> Dashboard Page</h1>

<button appCaptureEvent [data]="getDashboardButtonData()" (click)="onClickHandler($event)">SHOW DASHBOARD</button>

<button appCaptureEvent [data]="getDashboardButtonData()" (click)="onClickHandler($event)">VIEW SPECIFIC PRODUCT</button>
