<h1> Results Page</h1>

<br />

<button appCaptureEvent [data]="getResultButtonData('Assigned Result Page')" (click)="onClickHandler($event)">Assigned result page</button>

<br />

<button appCaptureEvent [data]="getResultButtonData('Unassigned Result Page')" (click)="onClickHandler($event)">Unassigned result page</button>

<br />

<button appCaptureEvent [data]="getResultButtonData('Click On Assignment Name')" (click)="onClickHandler($event)">Click on assignment name</button>

<br />

<button appCaptureEvent [data]="getResultButtonData('Click On Score')" (click)="onClickHandler($event)">Click on score</button>