<h1> Assignments Page</h1>

<br />

<button appCaptureEvent [data]="getAssignmentButtonData('Submitted Work(show/hide assignment)')" (click)="onClickHandler($event)">Submitted Work(show/hide assignment)</button>

<br />

<button appCaptureEvent [data]="getAssignmentButtonData('Load Assignment')" (click)="onClickHandler($event)">Load Assignment</button>

<br />

<button appCaptureEvent [data]="getAssignmentButtonData('Begin Assignment')" (click)="onClickHandler($event)">Begin Assignment</button>

<br />

<button appCaptureEvent [data]="getAssignmentButtonData('View Submission History')" (click)="onClickHandler($event)">View Submission History</button>