<h1> Assignments Page</h1>

<button appCaptureEvent [data]="getAssignmentsButtonData()" (click)="onClickHandler($event)">SHOW ASSIGNMENTS</button>

<button appCaptureEvent [data]="getAssignmentsButtonData()" (click)="onClickHandler($event)">VIEW DUE ASSIGNMENT</button>

<button appCaptureEvent [data]="getAssignmentsButtonData()" (click)="onClickHandler($event)">VIEW PAST ASSIGNMENT</button>

<button appCaptureEvent [data]="getAssignmentsButtonData()" (click)="onClickHandler($event)">VIEW UPCOMING ASSIGNMENT</button>