<h1> Overview Page</h1>

<button appCaptureEvent [data]="getOverviewButtonData()" (click)="onClickHandler($event)">SHOW OVERVIEW</button>

<button appCaptureEvent [data]="getOverviewButtonData()" (click)="onClickHandler($event)">VIEW SPECIFIC SECTION</button>