<h1> Content Page</h1>

<button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Filters</button>

<br />

<button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Find Content by (chapter view)</button>

<br />

<button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Find Content by (Resource type view)</button>

<br />

<button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Change layout(list,grid,expand,collapse)</button>

<br />

<button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Asset preview</button>