<h1> Content Page</h1>


<div class="d-flex filter-wrapper">
    <button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Filters</button>



    <button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Find Content by (chapter view)</button>
    
    
    <button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Find Content by (Resource type view)</button>
    
</div>

<div class="layout-wrapper">
    <button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Change layout(list,grid,expand,collapse)</button>    
</div>

<div class="asset-wrapper">
    <button appCaptureEvent [data]="getContentButtonData()" (click)="onClickHandler($event)">Asset preview</button>
</div>

