<h1> Classes Page</h1>

<button appCaptureEvent [data]="getClassesButtonData()" (click)="onClickHandler($event)">SHOW CLASSES</button>

<button appCaptureEvent [data]="getClassesButtonData()" (click)="onClickHandler($event)">VIEW SPECIFIC CLASS</button>