/* You can add global styles to this file, and also import other style files */
body {
    --grey-bg: rgba(0,0,0,0.1);
    margin: 0px 0px;
    button {
        cursor: pointer;
        border: 1px solid #000000;
        background: linear-gradient(to bottom,#fff 0,#e4e4e4 100%);
        border-radius: 3px;
        padding: 20px;
    }
    ul {
        li {
            list-style: none;
        }
    
    }
    
    .d-flex {
        display: flex;
    }
    
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
    
    .align-items-center {
        align-items: center;
    }

    .text-center {
        text-align: center;
    }
    main {
        max-width: 80vw;
        margin: 30px auto;
    } 
    footer {
        padding: 30px 0px;
        background-color: var(--grey-bg);
    }
}